/**** TEMPLATE OVERRIDES ***/
/* uncomment for full width.
body{background-color:#fff;}


.content-wrapper .centered {
    width: 100%;
    max-width: 100%;
}



.content-wrapper{
	background-color:#fff;
}
*/

.media {
    display: none !important;
}
/*hide page header*/

.page-header{
	display:none;
}

/*main content area*/
#content{
	margin:0;
	background:transparent;
	border:none;
}

article .main-content p{
	color:#fff;
}

.summary{
	color:#fff;
}

article.base{
	margin-top:-30px !important;
}

.interior.full-width article {
    width: 100%;
}

.interior.full-width article .main-content {
    width: 100%;
}

.interior article{
	margin:0 !important;
}

.summary, .media{
	margin:0 !important;
}

/**CUSTOM **/
/** {
	font-family: 'Fira Sans', sans-serif;
}*/

.contentArea {
	margin: 0 auto;
	max-width: 1000px;
	width: 1000px;
	height: 100%;
	background: #fff;
}

#overallContainer {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: stretch;
	position: relative;
}

#menuContainer {
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-flex: 2 1 auto;
	-ms-flex: 2 1 auto;
	flex: 2 1 auto;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	min-width: 50%;
	min-height: 500px;
	background: #eee;
	transition: background-color .7s;
	/*initial state*/
	background-color: #F8971D;
}

#contentContainer {
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
	-webkit-flex: 2 1 auto;
	-ms-flex: 2 1 auto;
	flex: 2 1 auto;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	min-width: 500px;
	min-height: 500px;
	background: #555;
	/*width: 100%;*/
	margin: 0 auto;
	max-width: 500px;
	/*height: 500px;*/
	overflow: hidden;
	position:relative;
}

#menuContainer a {
	display: block;
	line-height: 1em;
	font-size: 2em;
	transition: all .3s;
	color: #fff;
	opacity: .5;
	text-decoration: none;
	padding: 10px;
}

.linkbox {
	padding: 54px 69px;
}

.linkbox a {
	cursor: pointer;
}


/*#menuContainer a:hover{
	font-size:3.8em;
	opacity:1;
}*/


/*initial state*/

#menuContainer a:nth-child(1) {
	font-size: 3.3em;
	opacity: 1;
}

#menuContainer a:focus {
	outline: none;
}


/*
#menuContainer a:nth-child(2){
	color:#008EA0;
}

#menuContainer a:nth-child(3){
	color:#F6BE00;
}

#menuContainer a:nth-child(4){
	color:#323372;
}

/*#menuContainer:nth-child(2){
	color:#008ea0;
}*/

#contentContainer img {
	/*position: absolute;*/
	width: 500px;
	/*top: 8px;
	transition:all .7s;*/
	opacity: 1;
}

#contentContainer a {
	position:absolute;
	transition: all .7s;
}

#contentContainer img:nth-child(1) {
	/*default state
	z-index: 1001;*/
}

.more-buttn {
	color: #fff;
	font-size: 1.5em;
	position: absolute;
	z-index: 10000;
	top: 430px;
	width:155px;
	/*background: rgba(248, 151, 29, .8);*/
	box-shadow: 8px 8px 5px #222;
	padding: 5px 10px;
	left: 290px;
	border-radius: 10px;
	border: solid 2px #b0a69e;
}

.more-buttn::after {
	content: "\25B8";
}
#b-wego {background-color:rgba(248, 151, 29, .8);}
#b-housecalls {background-color:rgba(0,142,160,.8); z-index:0; }
#b-healthsystems {background-color:rgba(246,190,0,.8); z-index:0;}
#b-westay {background-color:rgba(50,51,114,.8); z-index:0;}

/***Mobile***/
@media screen and (max-width:1000px){
	#overallContainer{
		flex-direction:column;
		flex-wrap:wrap;
	}
	#menuContainer{
		font-size:8px;
		min-height:100px;
	}
	
	.linkbox{
		padding:20px;
	}
	
}