/**** TEMPLATE OVERRIDES ***/
/* uncomment for full width.
body{background-color:#fff;}


.content-wrapper .centered {
    width: 100%;
    max-width: 100%;
}



.content-wrapper{
	background-color:#fff;
}
*/

.media {
    display: none !important;
}
/*hide page header*/

.page-header{
	display:none;
}

/*main content area*/
#content{
	margin:0;
	background:transparent;
	border:none;
}

article .main-content p{
	color:#fff;
}

.summary{
	color:#fff;
}

article.base{
	margin-top:-30px !important;
}

.interior.full-width article {
    width: 100%;
}

.interior.full-width article .main-content {
    width: 100%;
}

.interior article{
	margin:0 !important;
}

.summary, .media{
	margin:0 !important;
}

/**CUSTOM **/
/**{font-family:Fira Sans;}*/

* {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 12px;
}

.nav-panel a{
	
	text-decoration:none;
}

h2{
	color:#fff;
	font-size:2em;
}

h3{
	color:#fff;
}

.nav-panel {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    }

.item-container{
	-webkit-order: 0;
    -ms-flex-order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.item-container:nth-child(-n+4)  {
    -webkit-order: 0;
    -ms-flex-order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
	}

.item-container:nth-child(1)  {
	background:#E86d1f;
}

.item-container:nth-child(2)  {
	background:#008ea0;
}
.item-container:nth-child(3)  {
	background:#f6be00;
}
.item-container:nth-child(4)  {
	background:#323372;
}



@media all and (max-width: 800px) {}